@charset "utf-8";

@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";

@font-face {
  font-family: Droid Sans Mono;
  font-style: normal;
  font-weight: 400;
  src: local("Droid Sans Mono"), local("DroidSansMono"), url(/fonts/droid-sans.rev1.woff2) format("woff2"),
    url(/fonts/droid-sans.rev1.ttf) format("truetype");
  // unicode-range: "U+00??,U+0131,U+0152-0153,U+02c6,U+02da,U+02dc,U+2000-206f,U+2074,U+20ac,U+2212,U+2215,U+e0ff,U+effd,U+f000";
}

$primary: #f6c94a;
$primary-hover: #e6b738;
$link: #46aee2;
$link-hover: #359acc;

// 导航栏断点：
$navbar-breakpoint: $tablet + (2 * $gap);
$family-sans-serif: "Droid Sans Mono", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$body-family: $family-sans-serif;

// panel
$panel-heading-background-color: $white;
$panel-heading-weight: $weight-medium;
$panel-heading-size: 16px;
$panel-heading-padding: 1em 1.25em;

// table

$table-cell-border: none;
$table-striped-row-even-background-color: hsl(0, 0%, 100%);
$table-striped-row-even-hover-background-color: #8f6161;
$table-cell-padding: 0.75em 0.75em;
$navbar-tab-active-border-bottom-color: $primary;

@import "~bulma/bulma";

html {
  -webkit-font-smoothing: auto;
}

#root {
  background-color: #f5f5f5;
}

.forbidden {
  color: #dbdbdb !important;
}

.grecaptcha-badge {
  display: none;
}

a:focus {
  text-decoration: none;
}
.panel {
  background-color: #fff;
}

.panel-footer-link {
  padding: 0.75em 1.25em;

  a {
    font-size: 14px;
    color: #3f3f3f;
  }
}

.view-more {
  display: flex;
  align-items: center;

  svg {
    width: 18px;
    height: 18px;
    color: #c2c2c2;
  }
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.breadcrumb {
  font-weight: bold;

  a {
    color: $primary;
    &:hover {
      color: $primary-hover;
    }
  }
}

.ant-table {
  font-size: 13px;
  .ant-table-thead {
    font-weight: bold;
    font-size: 13px;
  }
  tr {
    td,
    th {
      &:last-child {
        text-align: end;
      }
    }
  }

  td {
    word-break: break-all;
  }

  tbody {
    tr {
      &:nth-child(odd) {
        background-color: whitesmoke;
      }
    }
  }
}

.data-table {
  background-color: #fff;
  font-size: 13px;
  tbody > tr {
    padding: 1.35em;
    background-color: hsl(0, 0%, 96%);
  }

  thead th {
    white-space: nowrap;
  }

  tbody td {
    word-break: break-all;
  }
}

.navbar {
  background-color: #3f3f3f;
  .navbar-brand {
    .navbar-item {
      padding: 0.5rem 1.125rem;
    }
  }
  .navbar-menu {
    .navbar-start {
      .navbar-item {
        color: #b1b1b1;
        padding: 0.5rem 0 0.5rem;
        margin: 0 1.125rem;
        &:hover {
          color: #fff;
          border-width: 0;
          padding-bottom: 0.5rem;
        }

        &.is-active {
          color: #fff;
          border-bottom: 3px solid $primary;
          padding-bottom: calc(0.5rem - 3px);
        }
      }
    }
    .navbar-end {
      .navbar-item {
        .input {
          background-color: transparent;
          color: #fff;
          font-size: 14px;
          &::-webkit-input-placeholder {
            color: #fff;
          }
          &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
              color:    #fff;
          }
          &::-moz-placeholder { /* Mozilla Firefox 19+ */
              color:    #fff;
          }
          &:-ms-input-placeholder { /* Internet Explorer 10+ */
              color:    #fff;
          }
        }
      }
    }
  }
}

.nav-link,
.panel-list .nav-link {
  display: inline-block;
  position: relative;
  overflow: hidden;
  vertical-align: top;
  z-index: 0;
  color: $link;
  transition: color 0.2s;
  outline: none;

  &:hover {
    color: $link-hover;

    &:before {
      background-color: $link;
      transform: scaleX(1);
    }
  }

  &:before {
    position: absolute;
    top: auto;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $link;
    content: "";
    transition: all 0.2s;
    backface-visibility: hidden;
    transform: scaleX(0);
  }
}

/** align items start **/
.align-start {
  align-items: flex-start;
}
/** flex reverse **/
.flex-reverse {
  flex-direction: row-reverse;
}

/**  不换行标签 **/
.nowrap {
  white-space: nowrap;
}

/**  信托标签 **/
.table-tag-trust {
  margin-left: 10px;
  padding: 3px 5px;
  border-radius: 3px;
  color: #3f3f3f;
  font-size: 12px;
  background-color: $primary;
}

/**  退选标签 **/
.table-tag-nagtive {
  margin-left: 5px;
  color: #959595;
  font-size: 12px;
}

/**  标签页 **/
.tab {
  margin-top: -20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 16px;
  color: #939393;
}

/** 自定义标签样式 **/
.tabs {
  li {
    &.is-active {
      a {
        padding-bottom: calc(0.5em - 2px);
        margin-bottom: -1px;
        border-bottom-color: $primary;
        color: #3f3f3f;
        border-width: 3px;
      }
    }

    a {
      margin: 0.5em 1em 0;
      padding: 0 0 0.5em;
      border-width: 0;
      color: #c1c1c1;
      font-weight: bold;
    }
  }
}

/** 跨链顶部标签 **/
.top {
  font-size: 20px;
  line-height: 50px;

  li {
    flex: 1;
  }
}

.tab-item {
  // margin: 0 20px;
  // line-height: 48px;
  box-sizing: border-box;
  cursor: pointer;
  color: #4a4a4a;
}

.tab-img {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: 0 10px;
}

/** 挂单交易深度样式 **/
.capstotal {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  right: 0;

  &.asks {
    background-color: #f7e6e0;
  }

  &.bids {
    background-color: #dfeee4;
  }
}

/** 区块切换器 **/
.switch-block {
  position: relative;
  bottom: 50px;
  height: 0px;
  text-align: center;
  font-size: 24px;
  .anticon {
    color: #daa718;
  }
}

#chart {
  height: 264px;
  border-left: 1px solid #dedede;
  padding-left: 20px;
}

.blockTransaction {
  .btc_block {
    margin: 0;
    padding: 20px;
    border: 1px solid #dedede;
    border-top: none;
    border-bottom: none;
    .btc_status {
      height: 88px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 5px 10px;
      border: 1px solid #dedede;
      box-shadow: 0 0 10px rgb(222, 222, 222);
      .btc_title {
        white-space: nowrap;
        margin-bottom: 10px;
        font-size: 14px;
      }
      .btc_content {
        font-size: 16px;
        color: #959595;
      }
    }
  }
}

.dashboard-cell {
  height: 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 0 #dedede;

  .dashboard-cell__title {
    font-size: 14px;
    color: #3f3f3f;
    margin-bottom: 5px;
  }

  .dashboard-cell__content {
    font-size: 16px;
    color: #959595;
  }
}

.panel-list {
  .panel-item {
    padding: 0.85em 1em;
  }

  .panel-item__title {
    width: 25%;
    font-size: 12px;
    color: #3f3f3f;
  }

  .panel-item__content {
    word-break: break-all;
    width: 75%;
    font-size: 12px;
    color: #959595;
  }
}

.panel-heading-icon {
  height: 24px;
  margin-top: -23px;
  margin-bottom: -20px;
  margin-right: 8px;
}

.main-content {
  min-height: calc(100vh - 52px - 50px);
}

/**
 * page footer
 */

.page-footer {
  border-top: 3px solid rgba(246, 201, 74, 0.65);
  height: 50px;
  background: #fafafa;
  color: rgba(74, 74, 108, 0.65);
  font-size: 12px;
  display: flex;
  align-items: center;

  a {
    color: rgba(74, 74, 108, 0.65);
  }

  a:hover {
    color: rgba(74, 74, 108, 0.65);
  }

  .container {
    display: flex;
  }

  .footer-start {
    display: flex;
    flex: 1;
  }

  ul li {
    margin-right: 32px;
  }

  .chainx-code-wrapper {
    position: relative;
    cursor: pointer;

    &:hover {
      .chainx-code {
        display: block;
      }
    }
  }

  .chainx-code {
    display: none;
    position: absolute;
    height: 150px;
    width: 150px;
    top: -160px;
    left: -50px;
  }
}

/**
 * Spinner
 */
.spinner {
  position: relative;
  width: 100%;
}

.spinner-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #4183c4;
  border-bottom-color: #4183c4;
  animation: spinner 0.8s ease infinite;
}

/**
 * pairs
 */
.pairs {
  padding: 0;
  align-items: normal;

  .pairs-items {
    width: 50%;
    font-size: 20px;
    color: #3f3f3f;
    border-right: 1px solid #dbdbdb;
    background: hsl(0, 0%, 96%);
  }

  .pairs-item {
    height: 90px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    cursor: pointer;

    &.active {
      background: #fff;
      border-left: 3px solid $primary;
    }
  }

  .pairs-item-icon {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: -2px;
    height: 40px;
  }

  .pairs-content {
    width: 50%;
    padding: 24px;
    color: #343434;
  }

  .pairs-content-item {
    margin-bottom: 24px;

    .pairs-content-item__label {
      font-size: 12px;
      color: hsl(0, 0%, 48%);
    }
  }
}

/**
 * 挂单列表
 */
.handicap {
  align-items: normal;
  padding: 20px;
  font-size: 12px;

  .handicap-list {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .handicap-header {
    display: flex;
    color: #363636;
    margin-bottom: 16px;
  }

  .handicap-content {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .handicap-step {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .handicap-sell {
    flex: 1 1 0%;
  }

  .handicap-now-price {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .handicap-buy {
    flex: 1 1 0%;
  }

  .bid-item {
    position: relative;
    display: flex;

    span {
      z-index: 1;
    }
  }

  .ask-item {
    position: relative;
    display: flex;

    span {
      z-index: 1;
    }
  }

  .price {
    text-align: left;
    flex: 0.8 1 0%;
  }

  .last-price {
    font-size: 16px;
    color: #34c69a;
  }

  .amount {
    text-align: right;
    flex: 1 1 0%;
  }

  .total {
    text-align: right;
    flex: 1 1 0%;
  }

  .handicap-buy,
  .handicap-sell {
    line-height: 25px;

    .odd {
      background: whitesmoke;
    }
  }

  .handicap-sell .price {
    color: #ea754b;
  }

  .handicap-buy .price {
    color: #34c69a;
  }
}
