@charset "utf-8";

@import '~bulma/sass/utilities/_all.sass';
@import '~bulma/sass/base/_all.sass';

$body-size: 14px;
$primary: #f6c94a;

// 导航栏断点：
$navbar-breakpoint: $tablet + (2 * $gap);

@import '~bulma/bulma';

.main {
  padding: 3rem 0;
}
