.blockTransaction {
  display: flex;
  flex-direction: column;

  header {
    font-size: 16px;
    color: #3F3F3F;
    line-height: 48px;
    border-bottom: 1px solid #DEDEDE;
  }

  footer {
    font-size: 14px;
    color: #3F3F3F;
    text-align: center;
    line-height: 54px;
    border-top: 1px solid #DEDEDE;
  }
}
